[2017-08-24 05:05] Cody2333 opened #1 "[BUG] cannot call [scheduleAlarm/ sendNotification] multiple times"
When I try to call scheduleAlarm or sendNotification multiple times like this:
[code]
Got an Error:
You attempted to set the key `id` with the value `"1503550784856"` on an object that is meant to be immutable and has been frozen.

[2017-08-25 19:57] kingctan commented on #1
how to fix this problem? I also meet it.
Thanks.

[2017-08-26 07:38] emekalites commented on #1
fixed in 1.0.7

Please note that you always have to set **id** in notificationTpl object

`const notificationTpl = {
  // id: '123',
  title: "title",               // Required
  message: "message",           // Required
  auto_cancel: false,                            // default: true
  vibrate: true,
  vibration: 100,                               // default: 100, no vibration if vibrate: false

[2017-08-26 07:44] emekalites commented on #1
@Cody2333 @kingctan please try out the fix.

[2017-08-26 09:14] kingctan commented on #1
also the same error.

maybe const object can't be changed.
and I tried the var, it don't work.

[2017-08-26 09:35] kingctan commented on #1
add ReactNativeAN.removeAllFiredNotifications()  fixed above problem.

[2017-08-26 09:37] kingctan opened #2 "how to cancel the playing alarm sound?"
how to cancel the playing alarm sound?
can you please add one api to this feature?

Thanks.

[2017-08-26 10:34] Cody2333 commented on #1
[code]

[2017-08-28 10:54] emekalites commented on #2
will work on that, thanks

[2017-08-28 11:53] emekalites commented on #1
I'll look more into this, meanwhile remove all fired notifications before sending another concurrent notification. There should be a more elegant way to set multiple notifications.

[2018-01-26 08:55] geart891 opened #3 "[issue] Cannot use the custom sound?"
[code]

I cannot set the custom sound for my alarm. Even I have followed exactly like the instruction.

[2018-01-26 10:05] emekalites commented on #3
@geart891  I'll check it out

[2018-01-28 08:20] ranjande opened #4 "Geting Error during build"
Error:Execution failed for task ':react-native-alarm-notification:compileDebugJavaWithJavac'.

[2018-01-30 08:30] emekalites commented on #4
If you have Android studio, try opening the android code. Android studio should be able to discover what the problem is so you could solve it before compiling again through react-native.

[2018-01-30 17:22] emekalites commented on #4
I think the problem has to do with the fact that you are using a more recent version of react-native which has removed override of createJSModules. So i'll update the plugin to support the versions of rn that doesn't require @override.

[2018-01-30 17:24] #4 closed

[2018-01-30 19:53] ranjande commented on #4
Dear emekalite. Sorry for late reply. This is much help in case you update the plugin. Please let me know when you update the same. I will retry again and try to implement it to my program. thanks once again for your response.
regards,

[2018-01-31 07:53] emekalites commented on #4
@ranjande  you can lookup v1.0.9

[2018-04-02 13:51] Frank17 opened #5 "add compile to the build.gradle"
we need to add a line at app/build.gradle, like this:
`compile project(':react-native-alarm-notification')`

[2018-04-02 22:47] emekalites commented on #5
thanks for pointing it out @Frank17

[2018-05-07 10:06] uendar opened #6 "How to stop alarm"
How do we stop alarm after is fierd ?

[2018-05-12 15:49] emekalites commented on #6
check v1.1.0 @uendar

[2018-05-12 15:49] #6 closed

[2018-05-12 15:49] #5 closed

[2018-05-12 15:50] emekalites commented on #2
done in v1.1.0

[2018-05-12 15:51] emekalites commented on #1
I think this should work in the current version. v1.1.0. Reopen if any issues with this bug comes up. Thanks.

[2018-05-12 15:51] #1 closed

[2018-05-15 08:00] emekalites commented on #6
#2

[2018-05-15 08:30] emekalites commented on #6
close #2

[2018-05-15 20:34] ffJPabloFlores opened #7 "Is it possible to fire the alarm even if the app is close?"

[2018-05-15 22:53] emekalites commented on #7
yes it is.

[2018-05-15 22:56] ffJPabloFlores commented on #7
@emekalites Cool, Could you tell me what do I need to do?
I set up an alarm but when I close the app completely it does not fire. Do  I need to send a specific parameter o do something else?

The alarm works if the app is open o move in the background

[2018-05-15 22:59] emekalites commented on #7
Let me check it again @ffJPabloFlores

[2018-05-16 04:09] emekalites commented on #7
@ffJPabloFlores The alarm works even if you kill it, make sure to add these to your AndroidManifest.xml

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <ap

[2018-05-16 04:09] #7 closed

[2018-05-16 08:45] tricia-caparoso commented on #3
I've also tried using the custom sound. What worked for me is that I removed the .mp3 part

[2018-05-16 08:59] emekalites commented on #3
wow, really? @tricia-caparoso

[2018-07-21 23:45] CastilloLuis opened #9 "ISSUE WITH METHODS..."
Hi!!! This is the first time that i used this module...
I have the configuration bellow, the problem is that when i press the button, the scheduleAlarm and others method does not work...:

The error says:

**Uncaught Error: undefined is not an object (evaluating 'RNALarmNotification.scheduleAlarm')**

I dont know what to do! I also linked and add the part of the xml, and check the .java files. But

[2018-07-23 21:00] CastilloLuis commented on #9
But I use npm install and it throw a error that dont found "parseData" function. So, I have clone the repository, and implemented, and I got the error Uncaught Error: undefined is not an object (evaluating 'RNALarmNotification.scheduleAlarm'). I checked the java files and everything is ok, the same in the npm or readme. What shoul I do? Thank uu!

[2018-07-26 16:50] emekalites commented on #9
I've updated the codes with a new release v1.2.0 @CastilloLuis

[2018-09-03 06:23] rautram opened #12 "How to fire a function when notification is Clicked."
Thanks for this library. From the docs I can't figure out how to fire a function to snooze or stop the notification when notification is clicked.

[2018-09-03 13:04] emekalites commented on #12
not available at the moment but we could add that soon

[2018-09-15 09:18] LDty commented on #12
Thanks a lot

[2018-09-24 04:27] ducpt2 opened #13 "[iOS Alarm] Can you take a look and create alarm on ios?"
Please take a look at this library: https://github.com/smartliang/react-native-alarm.
It work on android and ios, but seem like we can not clear the alarm.
Maybe it will give you the way to implement on iOS.

Love your work.

[2018-09-24 08:02] emekalites commented on #13
Thanks @ducpt2, I'll take a look at the library and implement the iOS.

[2018-09-27 19:23] sreeharim opened #14 "Not receiving notification in Android 8.0 (Oreo)"
In android 8.0 version, I am only getting alarm sound. Not receiving any notification. Works fine in other android versions.

[2018-10-09 08:53] bajrangsharma-burrp opened #15 "How to use 'react-native-alarm-notification'..."
Hi,

**Plz provide a demo app to implement 'react-native-alarm-notification' and fire notification even when app is closed means inactive.**

**How to use 'react-native-alarm-notification' to wakeup the app periodically????**...

[2018-10-11 04:18] bajrangsharma-burrp commented on #15
Any hope for the same implementation logic...

[2018-10-11 05:13] emekalites commented on #15
yes i'll try to look into this by weekend. I am very occupied with a lot of work

[2018-10-15 15:56] Evald24 opened #16 "Everyday alarm"
The documentation says that you must specify firedate.
Then how to specify only the time and every day?

[2018-10-17 03:18] 532815096 commented on #13
@ducpt2 react-native-alarm   just need add this code
![image](https://user-images.githubusercontent.com/12792386/47060036-6919d880-d1fe-11e8-9f86-755c2c4496ab.png)

[2018-10-23 16:08] ananthsridhar opened #17 "Build Failing after integration"
Post following steps and adding to project, build is failing with below error
![image](https://user-images.githubusercontent.com/10885810/47374553-dc927d00-d70b-11e8-94c5-33e229563a83.png)

Tried changing the target sdk compile sdk, all above 26, etc, but still getting same error. Any suggestions?

[2018-11-21 07:39] imran1992 opened #18 "After setting Alarm and kill the app too will trigger APP STOP pop up at the schedule time"
`React Native: v 0.57.4`
[code]
Tested on
[code]
[code]
[code]

[2018-12-09 19:08] tsanio opened #19 "Alarm crashes when app is closed"
To reproduce
1. Schedule an alarm.
2. Close the app before the alarm will set off.
This should cause a crash when the alarm is triggered.

This is how errors look like from adb logcat:
[code]

One way around seems to be
1. Trigger the alarm once when the app is running.
2. Schedule it again to launch after some time.
2. Close the app before the alarm will set off.
This seems to not cause crash whe

[2018-12-09 19:43] tsanio commented on #19
I seemed to have set auto_cancel: true. Which seemed cause these behaviors.

[2018-12-09 22:13] tsanio opened #20 "Missing notification dismiss?"
I was looking for a way to run something when user dismisses the notification, but I couldn't find one?
Is there some way to do that or is this going to be added at some point?
Here is some [related discussion](https://stackoverflow.com/questions/14671453/catch-on-swipe-to-dismiss-event)

[2018-12-10 00:02] emekalites commented on #20
Hi, I think this might be something I'll consider at some point. Maybe you could add it to your code and submit a pull request. That will be lovely.

[2018-12-10 05:10] tsanio commented on #20
Hey! Great. Sure. I will have a look at it.

[2018-12-20 15:39] LuisEduardoRibeiro commented on #9
Hi! I have the same issue. How can I resolve?

[2018-12-26 02:33] fauzynurn opened #21 "Add multiple alarms"
Hey i've just started using this library and this worked nicely!

but there was a problem when i tried to add three alarms. It just took the last alarm i made ( the third alarm ). How can i fix it? Thanks.

[2018-12-27 12:30] fauzynurn commented on #21
Yes. I forgot to change the ids. stupid me. thanks!

[2018-12-27 12:30] #21 closed

[2019-01-04 23:03] kunal886496 commented on #7
It does not opens. Please help

[2019-01-04 23:05] kunal886496 opened #22 "App does not open after its closed and there is no alarm triggered on the scheduled time"
The app does not opens when on the scheduled time and i cant hear the alarm also

[2019-01-04 23:09] kunal886496 commented on #19
It actually happens and still there is no solution

[2019-01-04 23:10] kunal886496 commented on #18
Agreed

[2019-01-13 16:56] emekalites commented on #20
Hey @tsanio, just merged your code, but i wanted to know if there is a need to update the readme file.

[2019-01-13 17:47] tsanio commented on #20
Hey, that's awesome! I forgot about editing the readme. If add something like commented in the [pull request](https://github.com/emekalites/react-native-alarm-notification/pull/23) into the readme, it might help users.

[2019-01-13 23:51] emekalites commented on #20
Okay thats fine, I'll add it and release a new version. Thanks

[2019-01-15 21:33] emekalites commented on #13
@haifahrul i havent done either. is it something you could do? It'll take me a while before i can make some changes on this plugin

[2019-01-22 10:46] nmeri17 opened #24 "No notification and no native alarm"
I've gone through all the issues and can't tell why I'm the only one who can't get the alarm to work. If I call all the other methods like `cancelAllNotifications()`, `getScheduledAlarms`, I get expected values logged. When I try calling `sendNotification` and `scheduleAlarm`, I get neither error nor notification. Also checking my phone's alarm shows nothing was set, meaning it isn't a notificatio

[2019-01-23 09:49] nmeri17 commented on #24
How can I know react-native is unable to find the package? Note that running getScheduledAlarms, after calling sendNotification or scheduleAlarm displays the notification objects from previous iterations. Doesn't this mean  react-native sees it?

What activity can I look out for in the logcat? Is there something that should happen underground during calls to sendNotification or scheduleAlarm so I

[2019-01-23 20:21] claude39 commented on #12
Any update on this issue? I also would like to do what @rautram specifies :(

[2019-01-24 05:40] baxinJoker commented on #17
I get the same error, how to fix it

[2019-01-25 21:32] emekalites commented on #24
@nmeri17 i wish i could reproduce your issue, that might help but then the only suggestion i think you should try right now is to create a new react native project and link it again with the new version 1.3.1. make sure to follow the read me accordingly. Remember if you are testing this plugin with an iOS device, it wont work because i havent developed this for iOS yet.

But then again **String id

[2019-01-25 21:32] #3 closed

[2019-01-25 21:35] emekalites commented on #9
@rautram check new version 1.3.1

[2019-01-25 21:35] emekalites commented on #9
have you figured out a way yet?

[2019-01-25 21:36] emekalites commented on #12
Feature has been added to version 1.3.1

[2019-01-25 21:36] #12 closed

[2019-01-25 21:53] emekalites commented on #15
https://github.com/emekalites/react-native-alarm-notification/tree/master/example

[2019-01-25 21:53] #15 closed

[2019-01-25 21:56] emekalites commented on #17
I suggest you try opening the android folder of your project in android studio so that android studio can do a build and help you figure out what the real issue is. moreover, a new version is on npm now, you could try that one too.
Thanks.

[2019-01-25 21:57] emekalites commented on #18
Please I really dont understand his scenario.

[2019-01-25 22:03] emekalites commented on #19
I tried it and i could not reproduce this issue. Maybe the problem is coming from here **AudioFlinger: not enough memory for AudioTrack size=131296** if so, check the file you are using for your alarm ringtone if its too large or your phone memory is too low.
Let me know if you've fixed the issue.

[2019-01-25 22:03] emekalites commented on #20
Its working in version 1.3.1, thanks for your contribution.

[2019-01-25 22:03] #20 closed

[2019-01-25 22:05] emekalites commented on #22
I think you should check your phone, i doubt is has to do with the plugin. Moreover you could try the example folder and the new version, then let me know if it worked.

[2019-01-26 16:40] nmeri17 commented on #24
Right. That was deliberate obfuscation to prevent the app's Google searches from leading here.

I was facing the threat of the client cancelling the project at the time of opening this issue and your replies weren't rapid so I resorted to another module. Thanks for trying to help.

PS: You're doing a great job

[2019-01-26 16:40] #24 closed

[2019-01-27 12:57] imran1992 commented on #18
When I set alarm. and close the app. I receive POP UP ERROR (APP STOP) at the alarm time.

[2019-01-27 14:31] emekalites commented on #18
Can you try the example folder, please and let me know. I am thinking the bug might be from your phone because it works well on my gionee s6s.

[2019-02-03 08:44] claude39 commented on #18
I have managed to avoid that error when setting an alarm and terminating the app. Here's how I did it.
I called an Intent that starts the app activity when the onReceive method in ANAlarmReceiver.java is being called located at node_module/react-native-alarm-notification.
`public void onReceive(Context context, Intent intent) {
        Intent i = new Intent();
        i.setClassName("com.appName",

[2019-02-05 06:39] nmeri17 commented on #24
Gave this another shot by comparing and copying your examples folder verbatim and **it worked smoothly!** I think the major reason my implementation couldn't get off the ground was, the docs don't mention the need to import DeviceEventEmitter. That object is what is required by both methods that weren't firing for me.
There were equally a few disparities between one of the gradle contents and the

[2019-02-06 06:12] cocoafuel opened #25 "ReactNativeAN.deleteAlarm is not working"
I have linked everything properly and defined the future alarm with and ID but when i try to delete the alarm , it does nothing. I have tried giving string and integers and even hard coded values for id but still nothing happens.

[2019-02-08 05:42] codemeall commented on #13
@emekalites any update on implementing the same in IOS ?

[2019-02-08 08:42] emekalites commented on #25
hi @cocoafuel sorry for the late response. Are you saying the alarm still rings after you have deleted it?

[2019-02-08 08:46] emekalites commented on #13
@codemeall currently working on it

[2019-02-08 08:51] codemeall commented on #13
To get star on IOS, should I have to do any additional tweaks or just linking the package is enough?

Please let me know

[2019-02-08 09:02] emekalites commented on #13
Well, that all depends but i think just linking the package will be enough.

[2019-02-09 06:01] codemeall commented on #13
@emekalites its not working with IOS, I tried linking too :(

[2019-02-09 07:01] emekalites commented on #13
@codemeall I'm not done yet, thats why the label "ongoing" is attached to this issue

[2019-02-10 08:07] jheyjheyjhey opened #26 "Running the app on background"
Hi, new to react-native and playing around with alarm app.

I managed to let the alarm capability work. However, I am concern if the app can run as background process.

I tried the following:

1. Open the app
2. Set up the alarm for 30 seconds later when component is mounted.
3. Click the home button.
4. Remove it to the list of recent apps opened.

Sadly, the alarm isn't triggered when I tried re

[2019-02-10 08:09] claude39 commented on #26
I solved that one by launching a new intent in the receiver.

On Sun, Feb 10, 2019, 16:07 Jhey <notifications@github.com wrote:

[2019-02-10 08:15] jheyjheyjhey commented on #26
@claude39 Can you give examples? I'm not really familiar with most stuff and your help is much appreciated.

[2019-02-10 09:56] muhammad-asad-26 commented on #25
Hi @emekalites
Hope you're doing great.

We have a list of alarms, the user can delete the alarm or we want to delete some alarms based on the response we get from the server. We have associated an ID with every alarm. We have stored the context/details of all alarms on our server. In order delete some alarm we simply passes the ID to cancelAlarm method but nothing happens. The alarms are still av

[2019-02-11 04:00] emekalites commented on #25
I'll take a look at this today @muhammad-asad-26

[2019-02-11 11:23] haifahrul commented on #13
@codemeall Did you trying this [Link](https://github.com/emekalites/react-native-alarm-notification/issues/13#issuecomment-430475856)

[2019-02-11 11:30] emekalites commented on #13
@haifahrul yes I did, it helped. Still working on it though. Problem is having to share my 24 hours to do my work and support this plugin as well.

[2019-02-12 06:17] codemeall opened #27 "Can we have actions buttons on the notifications ?"

[2019-02-14 06:53] muhammad-asad-26 commented on #25
Hi @emekalites
Did you get a chance to look at it.

[2019-02-18 06:16] Sarathphd opened #28 "how to full screen notification show on lock screen?"

[2019-02-23 14:24] emekalites commented on #28
I think this is a feature thats enabled by your device settings.

[2019-02-23 15:21] Sarathphd commented on #28
public void onNewIntent(Intent intent) {
try {
Bundle bundle = intent.getExtras();
JSONObject data = BundleJSONConverter.convertToJSON(bundle);
getReactInstanceManager().getCurrentReactContext().getJSModule(
DeviceEventManagerModule.RCTDeviceEventEmitter.class).emit(
"OnNotificationOpened", data.toString());
} catch (Exception e){
System.err.println("Exception when handling notification openned. "

[2019-02-23 15:25] Sarathphd commented on #28
public void onNewIntent(Intent intent) {
try {
Bundle bundle = intent.getExtras();
JSONObject data = BundleJSONConverter.convertToJSON(bundle);
getReactInstanceManager().getCurrentReactContext().getJSModule(
DeviceEventManagerModule.RCTDeviceEventEmitter.class).emit(
"OnNotificationOpened", data.toString());
} catch (Exception e){
System.err.println("Exception when handling notification openned. "

[2019-02-23 21:21] bartolomej commented on #16
It would be great if repeating alarm feature would be implemented - by that i mean that you could set multiple alarms set on multiple days at diffrent times.

[2019-02-24 11:16] haifahrul commented on #26
Hi, @jheyjheyjhey did you solved this issue? or got some solution?

[2019-02-24 18:23] haifahrul commented on #19
I using android oreo 8.1, and still crash when the alarm is triggered. Any solution?

[2019-02-24 18:27] haifahrul commented on #18
I think it's not support for Android 8.1. It's force close when notif is triggered

[2019-02-24 18:28] kunal886496 commented on #18
How to handle this then?

On Sun, Feb 24, 2019, 23:57 A Fakhrurozi S <notifications@github.com> wrote:

[2019-02-24 18:37] haifahrul commented on #18
I have try in Android 7.1.1 and it's work.
I'm still figuring out this bug and haven't found a solution. Maybe @emekalites can help?

[2019-02-24 18:40] kunal886496 commented on #18
See the problem  with 8.1 is performance optimization has been the priority.
So some of these things like allowing alarms to wake up screen by some
external apps may nor be allowed

On Mon, Feb 25, 2019, 00:07 A Fakhrurozi S <notifications@github.com> wrote:

[2019-02-24 18:40] kunal886496 commented on #18
Not*

On Mon, Feb 25, 2019, 00:09 kunal chugh <kunal886496@gmail.com> wrote:

[2019-02-24 19:15] haifahrul commented on #2
@emekalites it's not working in Android 7.1.1
I'm tested with step :
1. Set Schedule
2. Close or Kill the App
3. When notif is fired, I dismiss the notif, but the sound still not stoping

[2019-02-24 19:36] haifahrul commented on #18
@emekalites I got this error in Android 8, can you check it? please

`FATAL EXCEPTION: main
    Process: com.jasindosyariah, PID: 22190
    java.lang.RuntimeException: Unable to start receiver com.emekalites.react.alarm.notification.ANAlarmReceiver: java.lang.IllegalStateException: Not allowed to start service Intent { cmp=com.jasindosyariah/com.emekalites.react.alarm.notification.ANService (has e

[2019-02-24 20:06] kunal886496 commented on #18
Okay i will let you know.
Positively.

On Mon, Feb 25, 2019, 01:06 A Fakhrurozi S <notifications@github.com> wrote:

[2019-02-25 07:06] emekalites commented on #2
what android version are you testing on?

[2019-02-25 07:39] emekalites commented on #19
I'll get an android with oreo 8.1 and test this later this week. @haifahrul

[2019-02-27 02:09] haifahrul commented on #14
[Related Issue](https://github.com/emekalites/react-native-alarm-notification/issues/18#issuecomment-466809009)

[2019-02-27 02:12] haifahrul commented on #19
@emekalites Oke, thank you. Truly I don't understand with Java. But I trying to help and make this project awesome. :+1:

[2019-02-27 02:15] haifahrul commented on #22
@kunal886496 Maybe wrong configuration in yout code. I have tried, and the scheduled time it's work in Android 7.1.1, not in Android 8.0 above

[2019-02-27 13:59] emekalites commented on #18
#19

[2019-03-02 02:28] haifahrul commented on #19
@emekalites any progress?

[2019-03-04 00:07] #16 closed

[2019-03-25 02:59] bsdunx opened #29 "Cannot manually remove alarm if the id would parse as a 64bit integer"
I was trying to use Date.now().toString() as alarm id and when attempting to manually remove an alarm it would have a parse error in the java module.

[2019-03-25 03:33] bsdunx commented on #2
This does not seem to be working for me on 7.1 or 8.0, perhaps not on any version.

[2019-03-28 02:39] haifahrul commented on #2
@bsdunx Did you have tested on 7.1 or 8.0 ?

[2019-03-28 06:32] bsdunx commented on #2
7.1 via emulator and 8.1 on actual device.

[2019-05-28 08:06] aniksharif commented on #14
Any update @emekalites ? I am facing this problem too

[2019-06-25 22:29] JustOnce opened #30 "Not working with expo"
Library (example from repository) doesn't work with expo.

![Screenshot_20190626-013521](https://user-images.githubusercontent.com/3242696/60138510-54d9a280-97b3-11e9-88ea-d50d7d217924.png)

![Screenshot_20190626-013531](https://user-images.githubusercontent.com/3242696/60138513-5acf8380-97b3-11e9-89a6-be168958aab4.png)

Expo diagnostic output

[code]

Example from repository works fine with `reac

[2019-07-10 03:22] minh-dai opened #31 "null is object ReactNativeAN.scheduleAlarm"

[2019-07-12 16:15] brunobraz100 commented on #25
Hello. Any news about this issue?

[2019-07-12 16:30] muhammad-asad-26 commented on #25
Hi @brunobraz100
Unfortunately no update on this one. We ended up writing our own module according to our custom needs.

[2019-07-12 16:36] brunobraz100 commented on #25
Muhamammad,

Thank you for your answer and your time.

Do you have any example about how we can delete a list of alarms? We have
some schedules that need to be deleted before create new ones.

Em sex, 12 de jul de 2019 às 13:30, Muhammad Asad <notifications@github.com>
escreveu:

[2019-07-12 16:41] muhammad-asad-26 commented on #25
Those all are proprietary code snippets cannot share with you, but I'll find you some sample from where we also took help and make it working.

[2019-07-12 16:53] brunobraz100 commented on #25
I really thank you for your help!

Em sex, 12 de jul de 2019 às 13:41, Muhammad Asad <notifications@github.com>
escreveu:

[2019-07-13 14:08] muhammad-asad-26 commented on #25
https://developer.android.com/training/scheduling/alarms
https://developer.android.com/reference/android/app/AlarmManager
https://www.javatpoint.com/android-alarmmanager

[2019-07-17 17:23] MITDD6338 opened #32 "Every Day Alarm!"
**can you Help me How to set Every day Alarm set?**
this repo!
@emekalites

[2019-07-18 13:56] haifahrul commented on #19
Hi @emekalites any progress?

[2019-08-05 06:27] yrjwcharm opened #33 "After setting the alarm clock, app process kill no longer receives regular notification"

[2019-08-05 07:50] yrjwcharm opened #34 "The alarm notification does not ring as scheduled"

[2019-08-06 10:11] yrjwcharm opened #35 "How do I set off alarms multiple times？"

[2019-08-08 02:56] yrjwcharm opened #36 "App exit app alarm clock will not ring again"

[2019-08-09 06:51] #34 closed

[2019-08-09 07:49] yrjwcharm opened #37 "Caused by: java.lang.IllegalStateException: Not allowed to start service Intent { cmp=my.app.tt/com.my.service }: app is in background uid UidRecord{90372b1 u0a136 CEM idle procs:1 seq(0,0,0)}"

[2019-09-02 02:08] #33 closed

[2019-09-02 13:16] Tilenozz commented on #9
same trouble.
Always return error with "null is not an object"

[2019-09-04 07:40] Tilenozz opened #39 "Not Working even example"
Good morning,
actually i copyed your example App.js  Emulator built it correctly , but when i set a value in input text (example 120 in future time from now ) , or by pressing Sending Notification Now,, always return an error :

null is not an object ( evaluating 'RNAAlarmNotification.scheduleAlarm'

This by working with EXPO.

In normal way , return this (pressing Send notification Now):

![Cattu

[2019-09-15 21:59] Lucasc2216 opened #40 "Repeat Sound"
Can i repeat the sound until user press a button or something like that?

[2019-09-23 12:12] akinmac002 commented on #36
I have same problem. I'm setting the alarm. I'm closing the application. Some devices do not push notification.

[2019-09-24 01:42] yrjwcharm commented on #36
@akinmac002  你那个app 进程杀死还能接受到通知吗。你知道如何处理吗。好像Android 6.0以上不让流氓了。这个问题是不是解决不了了。

[2019-09-24 14:27] akinmac002 commented on #19
I have same problem. Could this problem be due to NotificationChannel ?
https://itnext.io/migrate-your-app-to-android-oreo-e0fa794b1d21
https://stackoverflow.com/questions/43093260/notification-not-showing-in-oreo

[2019-10-12 15:07] paldepind commented on #30
That is not the fault of this module. Only native packages that Expo bundle works in Expo. This issue can be closed.

[2019-10-24 11:11] akinmac002 commented on #36
Yes, the problem still exists. Android stopped the background process. An error occurs.

[2019-10-24 12:06] akinmac002 commented on #36
Problem is solved. My problem was that there was not scheduled alarm in the background on Android 8 and above. Issue: https://developer.android.com/about/versions/oreo/background#migration

Solution:
Edit location:
/node_modules/react-native-alarm-notification/android/src/main/java/com/emekalites/react/alarm/notification/ANAlarmReceiver.java

[code]

[2019-10-28 02:25] yrjwcharm commented on #36
@akinmac002  大佬。

[2019-11-01 18:56] Iceberg1109 opened #41 "Custom sound doesn't repeat"
Hi,

I just worked on this one and it's working fine.
But when I tried with custom sound, it only plays once.

So in my case, my sound file is 26 seconds so the alarm only rings for 26 seconds.
I want it to ring until I stop it.

How can I fix this?

[2019-11-05 13:26] 11abuyaman opened #42 "where can I add the "Listener for notifications""
Where can I add those stuff or a function that run after the notification was open! please I need help with that I've tried to put it in the view file, but the devicemetter is undefined, and i've tried to put it in the main activity file thing which made no sense anyway. please help! thanks!
![image](https://user-images.githubusercontent.com/46679872/68211499-62fcc280-ffe0-11e9-9226-7711303e6f12.p

[2019-11-05 13:27] 11abuyaman commented on #42
I want to fire a function when the user open the notification how can I capture that!

[2019-11-06 08:37] 11abuyaman commented on #42
Found out you can put that listener function anywhere, any view, and just import the following:-
import { DeviceEventEmitter } from 'react-native';

[2019-11-06 08:37] #42 closed

[2019-12-10 12:06] AliUZAR commented on #31
+1

[2019-12-25 13:25] akinmac002 commented on #14
Problem resolved on https://github.com/emekalites/react-native-alarm-notification/issues/36#issuecomment-545886812

[2020-01-21 07:31] sumukhah commented on #31
Any updates on the issue?
I am getting same error,

[2020-01-21 07:37] minh-dai commented on #31
try https://github.com/zo0r/react-native-push-notification

[2020-01-22 11:17] akinmac002 commented on #19
This problem is solved. On: https://github.com/emekalites/react-native-alarm-notification/issues/36
Furkan Atakan BOZKURT

[2020-01-23 21:59] schmem55 opened #44 "alarm is not stopping when app is closes"
hi , i've made an  alarm than stop by itself after 20 seconds
it works only when the app is open. when i am goind outside the app , the alarm doesnt stop at all (only when i come back to the app )
I would like the alarm to have the same behaviour outside and inside the app

react native :0.59.10

[code]

[2020-02-12 18:47] phamhuuan commented on #3
@emekalites i have same problem but it still not working even when remove the .pm3 part

[2020-02-16 17:18] ThanhNghia944 commented on #36
Hi @akinmac002 app still crash when kill app

[2020-03-03 08:49] akinmac002 commented on #36
Did you try to delete the android build folder and print again after doing the operations?

[2020-03-05 09:51] sharesomething opened #45 "Can I use live stream in Custom sounds?"
Hi,

can I use live stream mp3 for custom sound in alarm?

[2020-04-03 11:27] #30 closed

[2020-04-03 11:28] #41 closed

[2020-04-03 11:30] emekalites commented on #40
should work in the latest version, use loop_sound.

[2020-04-03 11:30] #40 closed

[2020-04-03 11:37] emekalites commented on #45
i dont know how that will work.

[2020-04-03 11:38] emekalites commented on #45
could you please explain further.

[2020-04-03 16:07] mezalejandro opened #46 "Android error new version 1.4.0"
When I installed new version on android studio I have the error:
Unsupported Modules Detected: Compilation is not supported for following modules: android-react-native-alarm-notification, react-native-alarm-notification. Unfortunately you can't have non-Gradle Java modules and Android-Gradle modules in one project.

[2020-04-03 16:43] emekalites commented on #39
This plugin does not support expo.
Thanks for trying it out.

[2020-04-03 17:28] emekalites commented on #46
what version of react native are you using?

[2020-04-03 17:29] mezalejandro commented on #46
0.61.5

[2020-04-03 19:50] emekalites commented on #46
Yes it.

[2020-04-03 19:58] mezalejandro commented on #46
because I am testing and with this:
DeviceEventEmitter.addListener('OnNotificationOpened', async function(e) {
it doesn't work for me, when app is closed

[2020-04-03 20:06] emekalites commented on #46
did you update your MainActivity.java with this?. Also, check the Readme to be sure you added all the necessary updates especially in you AndroidManifest.xml

[code]

[2020-04-03 20:07] emekalites commented on #46
You can clone the example folder and try it, i tested it and it works

[2020-04-03 20:08] emekalites commented on #14
this has been solved in the latest version

[2020-04-03 20:11] mezalejandro commented on #46
if I have it added, I can check the event when the app is open or in the background

[2020-04-03 20:11] emekalites commented on #44
Are you saying the alarm doesnt trigger unless the app is open? Meanwhile check and refer to the latest version 1.4.0

[2020-04-03 20:11] emekalites commented on #46
yes

[2020-04-03 20:14] emekalites commented on #36
I have published a new version (1.4.0), let me know if it works.

[2020-04-03 20:15] emekalites commented on #37
please check the latest version [v1.4.0] and let me know if it works.

[2020-04-03 20:17] emekalites commented on #35
You can set schedule_type="repeat" and  repeat_interval=5 to repeat the alarm after 5minutes if thats what you mean. Else please explain a little more of what issue you are having.

[2020-04-03 20:18] emekalites commented on #32
You can set schedule_type="repeat" and repeat_interval=24*60 to repeat the alarm after 24hours if thats what you mean. Else please explain a little more of what issue you are having.

[2020-04-03 20:20] emekalites commented on #31
I pushed a new version, try it and let me if it works for you. Thanks.

[2020-04-03 20:21] emekalites commented on #29
I pushed a new version, try it and let me if it works for you. Thanks.

[2020-04-03 20:37] emekalites commented on #28
are you asking for a full screen notitication?

[2020-04-03 20:40] emekalites commented on #27
I pushed a new version, try it and let me if it works for you. Thanks. It has a snooze and dismiss button.

[2020-04-05 07:18] EYHN opened #47 "Key alarm_id expected Integer but value was a java.lang.Double."
I cannot schedule future reminders, I get error output from logcat.

[code]

Here is my code.
[code]

My package version:
react: 16.11.0
react-native: 0.62.0
react-native-alarm-notification: 1.4.2

[2020-04-05 21:27] emekalites commented on #47
install the latest version v1.4.3 and let me if it works.

[2020-04-06 14:06] Lolinpiko opened #48 "incompatible types: int cannot be converted to String - ANModule"
I got this error while building with 1.4.3:

[code]

[2020-04-07 08:35] Nirav1432 commented on #48
Please Write "getString(key:"alarm_id")" instead of getInt, it will solve

[2020-04-07 08:39] Nirav1432 opened #49 "Run Services on, After App Killed"
Is there any way to Invoked scheduled alaram if App is Killed

[2020-04-07 12:14] emekalites commented on #48
I have already pushed a commit to that effect yesterday. I want to test another bug before creating a new version. I'll get the new version out today.

[2020-04-07 12:17] emekalites commented on #49
Alarms are scheduled in alarm managers. An AlarmManager is used to trigger some code at a specific time. It uses the Android SDK's alarm service and runs independently of the application's lifecycle. So even if the app is killed, it can get triggered at the specific time it was set to trigger.

[2020-04-07 14:12] Nirav1432 commented on #49
Ok Thanks Sir, for your reply

[2020-04-08 04:34] #32 closed

[2020-04-08 12:09] #49 closed

[2020-04-08 12:57] kaanoner3 commented on #13
Any update ? can we use this plugin on ios ?

[2020-04-08 19:28] #47 closed

[2020-04-08 19:28] #48 closed

[2020-04-08 19:30] emekalites commented on #13
not yet @kaanoner3 , there is a lockdown in my country so i'm currently working on it.

[2020-04-09 02:26] npnik4 commented on #29
Hi I can't delete alarm, after set.
ReactNativeAN.deleteAlarm('12345'); // trying to delete the alarm

const list = await ReactNativeAN.getScheduledAlarms();
^ This returns a list of alarms all with the same id, and marked active, so if i try to set another alarm, after dismissed the first one, it never goes off.

I was able to inspect some of the code in AlarmUtil.java
AlarmModel alarm = getAlarm

[2020-04-09 02:28] npnik4 commented on #25
Does anyone know the solution to this problem? It is also happening to me.

[2020-04-09 07:47] Lolinpiko opened #50 "Why substract one month on Alarm fire date ?"
Why would you want to substract one month in `calendar.set(Calendar.MONTH, alarm.getMonth() - 1);` and repeat this action multiple times ?

This action is in ANModule (l. 105) and three times in AlarmUtils (l. 137, 179, 188).

[2020-04-09 09:40] emekalites commented on #50
when setting a Month in `GregorianCalendar()`, you need to subtract the actual month by 1 because the GregorianCalendar class starts counting Month from 0.
Regarding the repetition in AlarmUtils, you'll notice i needed to set the calendar with the date and time from the model so i can get `calendar.getTimeInMillis()` to set the alarm.

I'll add comments and probably refactor (remove unnecessary re

[2020-04-09 09:49] emekalites commented on #50
In ANModule, you'll realize i did the opposite, I added 1 month to the Month i got from GregorianCalendar class in `alarm.setMonth(calendar.get(Calendar.MONTH) + 1);` and thats because if you're counting from 0, the month will be 1 less than the actual month.

[2020-04-09 09:51] Lolinpiko commented on #50
This is weird because I removed all `-1` and `+1` references and notifications are scheduled fine

[2020-04-09 10:10] emekalites commented on #50
It worked for you because in ANModule.java Line 98 below, the GregorianCalendar class has already been set. so if you remove the -1 and +1, the date wont be wrong in the GregorianCalendar class but if you log the alarm model, you'll realize the month is always minus 1 of the actual month.
[code]

you could check [https://stackoverflow.com/questions/27434488/gregorian-calendar-month-of-year](https:

[2020-04-09 11:05] brunobraz100 commented on #25
We did native for IOS and android.

Em qua, 8 de abr de 2020 23:28, npnik4 <notifications@github.com> escreveu:

[2020-04-09 11:46] emekalites commented on #29
Yes I will, thanks

[2020-04-09 11:50] emekalites commented on #25
already tracking this in #29

[2020-04-09 11:52] #2 closed

[2020-04-10 20:50] #26 closed

[2020-04-10 20:50] #22 closed

[2020-04-10 20:50] #17 closed

[2020-04-10 20:50] #18 closed

[2020-04-10 20:50] #9 closed

[2020-04-10 20:50] #19 closed

[2020-04-11 13:12] mattveraldi opened #51 "Doesn't work on Android 9"
Hi,
I'm using your library since v1.3.1 version.
It didn't work on Android 9 so I forked your repo and updated the code as written on the [android developer docs](https://developer.android.com/training/notify-user/build-notification) on my [android-o-fix](https://github.com/mattveraldi/react-native-alarm-notification/tree/android-o-fix) branch.

Today I saw that recently you updated your repo to a

[2020-04-13 10:41] schmem55 commented on #44
yes thats the point
ill check it @emekalites  thanks

[2020-04-14 00:42] mezalejandro opened #52 "Unable to instantiate receiver com.emekalites.react.alarm.notification.ANBootReceiver: java.lang.ClassNotFoundException: Didn't find class "com.emekalites.react.alarm.notification.ANBootReceiver""
I have the version 1.3.1
on Firebase I have the following issue:
Caused by java.lang.ClassNotFoundException: Didn't find class "com.emekalites.react.alarm.notification.ANBootReceiver" on path: DexPathList[[

The notifications not working

[2020-04-15 08:48] ZiyaDogramaci opened #53 "can not get notification data while app started via notification click"
Hi,
Thanks for the useful library. I can not figure out how to get notification data when app is started via local notification. I mean the app is completely closed when the notification is showed up. I tried the "OnNotificationOpened'" event  but it is not triggered on startup.

[2020-04-15 16:27] #52 closed

[2020-04-15 16:34] mezalejandro commented on #53
In the new version it has changed.
[code]
Before you had to use obj.data.youdata
Now you have to use obj.youdata

[2020-04-16 01:52] lklima opened #54 "Remove or modify notification actions buttons"
First congratulations on the excellent work, it would be interesting to remove or modify the action buttons of the notification. I use this lib to notify a new delivery.

[2020-04-16 08:51] lfabl commented on #53
@mezalejandro He doesn't talk about it. When you click on the notification while the application is closed, the application opens and deviceeventemitter does not fire.

[2020-04-17 17:22] #46 closed

[2020-04-17 17:37] mezalejandro opened #55 "Unable to start receiver com.emekalites.react.alarm.notification.AlarmReceiver"
First of all thanks for this amazing library, it works very well but I got this error.

Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'com.facebook.react.bridge.JavaScriptModule com.facebook.react.bridge.ReactApplicationContext.getJSModule(java.lang.Class)' on a null object reference
       at com.emekalites.react.alarm.notification.AlarmReceiver.onReceive(AlarmReceive

[2020-04-23 19:19] #55 closed

[2020-04-26 06:25] sharesomething commented on #45
Thanks @emekalites

[2020-04-26 06:25] #45 closed

[2020-04-28 11:19] akinmac002 commented on #54
I have the same problem.

[2020-04-30 06:46] ZiyaDogramaci commented on #25
You can fix this issue by changing the following line on AlarmDatabase.java => getAlarm function

`String selectQuery = "SELECT * FROM " +TABLE_NAME+ " WHERE " + COL_DATA + " LIKE '%" + _id + "%'";`

[2020-04-30 06:52] ZiyaDogramaci commented on #54
You can remoe buttons by commenting out the following lines on the file AlarmUtil.java => sendNotification

`            Intent dismissIntent = new Intent(mContext, AlarmReceiver.class);
            dismissIntent.setAction(NOTIFICATION_ACTION_DISMISS);
            dismissIntent.putExtra("AlarmId", alarm.getId());
            PendingIntent pendingDismiss = PendingIntent.getBroadcast(mContext, notif

[2020-05-01 15:20] #39 closed

[2020-05-01 15:20] #14 closed

[2020-05-01 15:20] #36 closed

[2020-05-01 15:20] #37 closed

[2020-05-01 15:20] #35 closed

[2020-05-01 15:20] #31 closed

[2020-05-01 15:20] #28 closed

[2020-05-01 15:20] #27 closed

[2020-05-02 05:21] Dhawan7 opened #56 "same issue not working on android 9"
same issue not working on android 9 on background

[2020-05-03 05:57] agungsb commented on #25
Any update on this? I'm experiencing the same issue here.. :(

[2020-05-06 11:09] #50 closed

[2020-05-09 00:31] emekalites commented on #56
This library was tested on android 9, do you have extra information regarding this issue?

[2020-05-09 00:55] emekalites commented on #54
The buttons will be hidden by default. But if you need them you can pass "has_button: true"

[2020-05-09 00:58] emekalites commented on #53
That is really strange, i want to be sure you add this part?

[code]

[2020-05-09 01:09] emekalites commented on #51
Hi could you please let me now why and what changes i can make to get it to work for you because that might help someone.

[2020-05-09 06:41] lfabl commented on #53
Yes, the codes you sent in MainActivity.java were properly placed. But the problem is still the same.

[2020-05-09 14:22] emekalites commented on #53
I'll have to check again.

[2020-05-10 11:30] #44 closed

[2020-05-14 09:18] hoangan opened #57 "If media volume was turned off, the alarm have no sound."
Hi,

As stated in the title. If media volume was turned off, the alarm have no sound. The alarm should raise the media volume when it's firing off.

Nice work by the way.

Thank you

[2020-05-16 16:02] emekalites commented on #57
Thanks but i dont think its necessary, anyone who turns down his/her volume has a reason for that.

[2020-05-17 03:32] hoangan commented on #57
Not really, sometimes I accidentally turn off media volume while surfing facebook. For this very reason I discovered the problem above.

[2020-05-25 11:32] tarunteckedge commented on #51
@emekalites I think he meant with this - https://github.com/mattveraldi/react-native-alarm-notification/commit/9cc4e4ad2dd23e483a94a9118e58037ebbdd9f17

[2020-05-27 23:57] emekalites commented on #51
I think i have already implemented for android 9.

[2020-05-31 05:36] PhuocHoangMinhNguyen opened #59 "When schedule_type is "repeated", stopAlarm snoozes the alarm instead of stopping it"
When schedule_type is "repeated", stopAlarm seems to just snooze the alarm instead of stopping it (since the alarm is started just 45 seconds to 1 minute later).

If I'm using schedule_type as "repeat", how should I stop the alarm so that the alarm will start after "repeat_interval" amount of time? Thank you

[2020-06-06 02:29] Jchiu05 opened #60 "ReactNativeAN.deleteAlarm() Not working"
I have an alarm scheduled with an alarm id of 1945 for instance, and when I try to delete it by doing
ReactNativeAN.deleteAlarm("1945"), it doesn't get deleted. I also tried doing ReactNativeAN.deleteAlarm(1945) and ReactNativeAN.deleteAlarm('1945').

For the ReactNativeAN.deleteAlarm(1945) "java.lang.Double cannot be cast to java.lang.String"

None of the examples above works. If you have time, c

[2020-06-06 02:37] Jchiu05 commented on #60
I think I found the issue? If for instance, I set an alarm with alarm_id = "1", I'm able to delete it.

But it doesn't work for anything  above a certain threshold?

[2020-06-06 03:26] Jchiu05 commented on #60
I was looking through: https://github.com/emekalites/react-native-alarm-notification/blob/584f1f98ae7d6b29c4fc7af32e8e45666a0b9eff/android/src/main/java/com/emekalites/react/alarm/notification/ANModule.java

and was wondering why you convert string to string twice?
@ReactMethod
    public void deleteAlarm(String alarmID) {
        alarmUtil.doCancelAlarm(alarmID.toString());
    }

[2020-06-06 08:19] Jchiu05 commented on #25
This didn't fix it for me :/

[2020-06-11 09:46] emekalites commented on #25
Can you please give me a few more details about the issue you are having right now @Jchiu05

[2020-06-11 09:47] emekalites commented on #60
Please give me some time to analyse this

[2020-06-11 09:48] emekalites commented on #25
Let’s follow this issue on

[2020-06-11 09:48] #25 closed

[2020-06-25 01:42] #56 closed

[2020-06-25 01:42] #54 closed

[2020-06-25 16:15] #53 closed

[2020-06-29 11:01] ngocht143 commented on #9
@emekalites
hi, I install your lib by
`yarn add react-native-alarm-notification` then `pod install`
I got exception: null is not an object (evaluating 'RNAlarmNotification.scheduleAlarm'). maybe it's an issue about linking with native modules

[2020-07-01 00:40] PhuocHoangMinhNguyen commented on #59
Haven't found the solution for this

[2020-07-01 11:15] PhuocHoangMinhNguyen commented on #60
experiencing the same problem

[2020-07-01 11:36] PhuocHoangMinhNguyen commented on #60
Does the alarm_id suppose to be Number Type? Because I found:
@ReactMethod
    public void removeFiredNotification(String alarm_id) {
        alarmUtil.removeFiredNotification(Integer.parseInt(alarm_id));
    }
in https://github.com/emekalites/react-native-alarm-notification/blob/584f1f98ae7d6b29c4fc7af32e8e45666a0b9eff/android/src/main/java/com/emekalites/react/alarm/notification/ANModule.java

[2020-07-01 19:35] Akijunior commented on #9
Hello. I'm learning react now and I like make a simple alarm to my app, but I don't understand how to use this library. Can you explain me or make a video explain step to step about how set her in a simple project?
When I tried follow the documentation I get the error RNAlarmNotification.sendNotification null is not an object since 2 days ago.

[2020-07-03 05:06] #57 closed

[2020-07-03 12:47] PhuocHoangMinhNguyen opened #61 "alarmId vs id"
Can you please explain the difference between alarmId and id in your code?
https://github.com/emekalites/react-native-alarm-notification/blob/master/android/src/main/java/com/emekalites/react/alarm/notification/ANModule.java

[2020-07-03 13:47] PhuocHoangMinhNguyen commented on #60
When I use the viewAlarms() function I noticed there are 2 types of id: "id" and "alarmId"."alarmId" matches "alarm_id" while "id" doesn't.

This is my theory: The deleteAlarm() function seems to delete the alarm bases on the "id", instead of "alarm_id". So if the "alarm_id" somehow matches "id", it will be deleted successfully. However, if they don't match, then it won't be deleted.

Hope that he

[2020-07-04 01:57] yikkok-yong commented on #60
Found out the if

`deleteAlarm(id)` is working. While `deleteAlarm(alarmId)` isn't working. Should update the documentation ?

[2020-07-04 01:59] yikkok-yong commented on #29
Probably can refer to my [reply](https://github.com/emekalites/react-native-alarm-notification/issues/60#issuecomment-653707635).

[2020-07-04 05:17] PhuocHoangMinhNguyen commented on #60
@yikkok-yong thank you, that confirms my theory.

[2020-07-04 08:19] #59 closed

[2020-07-04 08:21] PhuocHoangMinhNguyen opened #62 "Repeat_interval doesn't work correctly."
When using getScheduleAlarms(), I realized that the "repeat_interval" remains the same regardless of the value I chose. Also it appears as "interval" instead of "repeat_interval" in the updated text.

[2020-07-05 03:49] PhuocHoangMinhNguyen opened #63 "Alarm is sounded in the order of id, not the fire_date."
For example, I have one alarm with id (not alarm_id) as 1, and fire at 12:40. And another alarm with id 2, and fire at 12:35.
For some reason, it skips alarm with id 2, and only fire alarm with id one. I guess it is because the alarm only checks the time of the alarm with the lowest id, instead of the entire alarm list.

[2020-07-05 03:50] PhuocHoangMinhNguyen opened #64 "Edit id value (not alarm_id)"
I can find a workaround for all the issues, but I need to be able to edit the id value (not alarm_id). Can you please implement it in the code?

[2020-07-05 04:10] #62 closed

[2020-07-05 04:16] PhuocHoangMinhNguyen opened #65 "const alarmNotifData doesnt accept number value."
https://github.com/emekalites/react-native-alarm-notification/blob/master/example/App.js
I tried it with repeat_interval and snooze_interval. No matter, which value I typed in when I used viewAlarms() function, it appears that repeat_interval value and snooze_interval value remain to be 1.

https://github.com/emekalites/react-native-alarm-notification/blob/master/android/src/main/java/com/emekalit

[2020-07-06 15:08] akinmac002 commented on #2
The problem still persists. It no longer works in the solution I suggested previously.

I'm having this problem.

Android 7.1 - Sony Experia Z5 Compact

[2020-07-06 15:10] akinmac002 commented on #2
The problem still persists. It no longer works in the solution I suggested previously. @emekalites

I'm having this problem.

Android 7.1 - Sony Experia Z5 Compact

[2020-07-09 12:59] usama23sep commented on #13
Hi, when can we expect an update?

[2020-07-09 19:16] sargamverma commented on #62
Repeat_interval  set time is not set.
alarm schedule after 1 min .
const alarmNotifData = {
      alarm_id: "22",
       title: "Hello",
       schedule_type: "repeat",
       repeat_interval: 10 ,
       message: '',
       vibrate: true,
       play_sound: false,
      // schedule_type: "once",
      // data: { content: "my notification id is 22" },
    };
		const { fireDate } = this.state;

[2020-07-09 19:17] sargamverma opened #68 "Repeat_interval set value is not working"
Repeat_interval set time is not set.
alarm schedule after 1 min .
this is my code.
const alarmNotifData = {
alarm_id: "22",
title: "Hello",
schedule_type: "repeat",
repeat_interval: 10 ,
message: '',
vibrate: true,
play_sound: false,
// schedule_type: "once",
// data: { content: "my notification id is 22" },
};
const { fireDate } = this.state;
const details = { ...alarmNotifData, fire_date: fireDa

[2020-07-12 05:48] PhuocHoangMinhNguyen opened #69 "Delete Alarm or Set Alarm Active as 0"
Tell me if I'm wrong but when deleting an alarm, it seems like the author only set the alarm active value as 0 instead of truly delete it from database right?

[2020-07-12 08:27] #69 closed

[2020-07-12 08:29] PhuocHoangMinhNguyen opened #71 "If the new alarm has the same alarm_id as the deleted alarm, it wont be set."
If the new alarm has the same alarm_id as the deleted alarm, it won't be set. It is because when deleting the alarm, it is set as "inactive" instead of being deleted for real.

[2020-07-13 00:42] PhuocHoangMinhNguyen opened #72 "Click on Notification?"
Is there any way to perform a click on the notification in react-native-alarm-notification?

[2020-07-13 08:19] NaufalAmmar opened #73 "Alarm can't triggered when app opened ? this can run on the foreground and background ???"
Hello, I wanna ask something about this library, this can run on the foreground and background ???

[2020-07-17 11:02] rishisoni07 opened #74 "Can't trigger alarm notification when app state is kill or dead"
Can't trigger alarm notification when app state is kill or dead, but it should be notify even if app is in killed mode in android.

[2020-07-17 11:56] PhuocHoangMinhNguyen commented on #73
I tried using it and it could run no matter I opened it or not. Maybe the problem is in your code.

[2020-07-17 11:56] Balasnest commented on #28
@Sarathphd Hey did you manage to get it works? Could please let us know the implementation.

[2020-07-18 08:40] Raja0sama commented on #28
I was able to resolve this by firebase messaging, on notification receive I was able to open my android app, [Here is the how i did it](https://medium.com/@SuperSami/react-native-full-screen-notification-tricking-android-1761e4fd2ac3)

[2020-07-20 04:10] NaufalAmmar commented on #73
@PhuocHoangMinhNguyen can I see your code?

[2020-07-20 05:17] PhuocHoangMinhNguyen commented on #73
I won't give you the entire code, which part you need specifically?

[2020-07-20 05:31] NaufalAmmar commented on #73
code usage for alarm

[2020-07-20 21:01] sdakansu commented on #31
I am getting same error. How can I fix it?

[2020-07-21 08:34] dharmikpatadia opened #76 "Can't trigger other Alarms after pressing the "Dismiss" button."

[2020-07-21 09:27] HarshitMadhav commented on #60
But everytime when we create a new alarm using scheduleAlarm a new alarm is created with the next id (not alarm id) +1 then the previous one irrespective of that alarm is deleted or not.

[2020-07-21 09:28] HarshitMadhav commented on #60
Moreover it says that you have already set this alarm no matter how much I delete alarms.

[2020-07-21 09:35] PhuocHoangMinhNguyen commented on #60
The code actually set the alarm as Inactive instead of actually deleting it. Thats why even though you deleted it, it is still in the AlarmDatabase in the background. I figured it out when reading the code.

[2020-07-21 09:37] HarshitMadhav commented on #60
Hi Thanks for replying! So I have created more then 100 alarms in my use case and I have deleted all of them but you mean do they still exists in AlarmDatabase? If yes how to delete them permanently.

[2020-07-21 09:46] PhuocHoangMinhNguyen commented on #60
To be honest, I dont know. I had to implement bunch of code to find a work around for that. I cannot share the code but basically I use Math.Random for the alarmID so the alarmID wont be duplicated

[2020-07-21 09:52] PhuocHoangMinhNguyen commented on #60
And i think if you delete the app from your device and install it again, the AlarmDatabase will be reset

[2020-07-21 09:53] HarshitMadhav commented on #60
Thanks for the idea! I currently require a single scheduled alarm to be created and that can be repeated only for some time duration just a single alarm repeatable many times.

[2020-07-21 10:16] HarshitMadhav commented on #60
Ok I will try reinstalling but everytime now I am getting alarm already set I think the buffer is full for AlarmDatabase lol

[2020-07-21 10:30] PhuocHoangMinhNguyen commented on #60
I think you already know this but i will say it, hope it will help:
1. Dont set alarm ID as 0. For some reason, it only accepts alarmID > 0
2. Math.random will randomize a number between 0 and 1. For example, 0.44. So always multiply with a number, e.g. 10, 100, etc.
Hope that helps.

[2020-07-21 10:51] HarshitMadhav commented on #60
Tried reinstalling it deletes the alarmDatabase now I am seeing a empty array of alarms.

[2020-07-21 11:20] HarshitMadhav commented on #60
I am using this to set alarm now

[code]
and I am still getting alarm already set even with different alarm ids where get_times is

[2020-07-31 01:42] emekalites commented on #72
yes, the code supports it

[2020-07-31 01:43] emekalites commented on #71
I have decided to delete the alarm from the database entirely in the next version update.

[2020-07-31 01:48] emekalites commented on #64
I'm not sure of what you mean or want to achieve.

[2020-07-31 02:03] emekalites commented on #61
**alarmId** is used while scheduling the alarm `alarm.setAlarmId((int) System.currentTimeMillis());` while **id** is the unique identifier for the database operations

[2020-07-31 02:11] emekalites commented on #60
There is no need to call
[code]
this twice for the same alarm with the same alarm_id,

Rather you could do this

[code]

But technically, `ReactNativeAN.scheduleAlarm` should send a notification when the alarm is triggered.

[2020-07-31 03:15] emekalites commented on #13
yes @usama23sep

[2020-07-31 03:45] PhuocHoangMinhNguyen commented on #61
@emekalites is there any way to edit the "id" (not "alarmId")

[2020-07-31 03:47] #64 closed

[2020-07-31 03:48] PhuocHoangMinhNguyen commented on #71
@emekalites completely wonderful, thank you.

[2020-07-31 03:48] #71 closed

[2020-07-31 03:48] PhuocHoangMinhNguyen commented on #72
@emekalites can you leave some hints?

[2020-07-31 10:04] emekalites commented on #61
so i am thinking, with all the issues with the id, since the id is a unique identifier, I'll save the alarm in the database and return the id to the user
[code]

[2020-08-02 01:41] emekalites commented on #72
check the example folder

[2020-08-02 02:02] emekalites commented on #63
I have checked and couldnt reproduce this issue.

[2020-08-12 11:39] DanyalAslam commented on #51
How Can I stop Alarm ?

[2020-08-12 12:02] emekalites commented on #51
const alarmNotifData = {};

    //Schedule Future Alarm
    const alarm = await ReactNativeAN.scheduleAlarm(alarmNotifData);
    console.log(alarm); // { id: 1 }

    //Delete Scheduled Alarm
    ReactNativeAN.deleteAlarm(alarm.id);

@DanyalAslam

[2020-08-12 12:02] #51 closed

[2020-08-13 01:18] Zeroxys opened #77 "Problem with stopAlarmSound"
Anybody have a problem with "ReactNativeAN.stopAlarmSound()" always I received undefined ?? or I missed something?

[2020-08-13 15:26] emekalites commented on #77
@Zeroxys checking it out

[2020-08-14 07:46] ASIF-Mahmud1 commented on #2
I am also facing the same issue

[2020-08-14 08:02] ASIF-Mahmud1 commented on #77
It throws an error :
" TypeError: RNAlarmNotification.stopAlarmSound is not a function"

[2020-08-15 14:08] #77 closed

[2020-08-15 14:36] emekalites commented on #76
please check if this is currently happening with the current version.

[2020-08-15 14:41] emekalites commented on #29
alarm ids are set and returned starting from v1.5.0. you would not have to set the alarm yourself.

[2020-08-15 14:41] #29 closed

[2020-08-15 14:43] emekalites commented on #13
iOS update currently in progress. checkout the latest version.

[2020-08-15 14:44] #60 closed

[2020-08-15 14:44] #61 closed

[2020-08-15 14:45] #65 closed

[2020-08-15 14:45] #72 closed

[2020-08-15 15:18] emekalites commented on #59
@PhuocHoangMinhNguyen I just figured it wasn't added earlier. It's going to be available in the next version. v1.5.3.
Thanks for pointing that out.

[2020-08-17 15:16] emekalites commented on #68
Please check the current release v1.6.0. and let us know if its works for you regarding scheduling repeating alarms.
Thanks.

[2020-08-20 11:08] DanyalAslam commented on #21
Where Should I give Id's ?

[2020-08-24 02:02] CayBap opened #78 "How to push intent to full screen notification when there was an alarm"
Please help me,
I don't push full screen notification  and stop alarm

[2020-08-24 10:34] emekalites commented on #78
Hi @CayBap , I do not think full screen notification is possible at this time. meanwhile please check the ReadMe to see how you can add a stop button to the notification.

[2020-08-24 10:56] CayBap commented on #78
@emekalites , I want to show notification as image when the phone was locked
[https://imgur.com/0e09HSy](url)

[2020-08-24 10:59] CayBap commented on #78
@emekalites  I call function stopAlarmSound() but The vibration still work

[2020-08-25 20:36] jknap commented on #73
Hello, I run into the same issue on iOS, the notification is only triggered when the app is in the background.

Here's the snippet I used (inspired from the README):
[code]
Version: 1.6.0

[2020-08-27 01:10] sebastian-sanchez-variv opened #79 "Android keeps vibrating forever"
If the vibrate option is set to true, the vibration keeps forever, no matter if the alarm has been silenced (through ReactNativeAN.stopAlarmSound();) or even if it was deleted (through ReactNativeAN.deleteAlarm(id) or even ReactNativeAN.removeAllFiredNotifications())

**I was able to fix it by changing your native code on AlarmUtil.java as follows:**
In the method stopAlarmSound() (lines 510-513)

[2020-08-27 08:34] emekalites commented on #79
Thanks, @sebastian-sanchez-variv I'll update the code in the next version.

[2020-08-27 08:36] emekalites commented on #78
@CayBap I'm sorry, It's not possible to show the notification as you represented it in the image. Maybe in the future i'll consider to add fullscreen notifications.

[2020-08-27 08:37] emekalites commented on #78
#79

[2020-08-27 08:38] #78 closed

[2020-08-27 08:46] #79 closed

[2020-08-27 16:33] sebastian-sanchez-variv commented on #63
I have the same issue in Android

[2020-08-27 16:48] sebastian-sanchez-variv commented on #63
Actually it is very weird what happens.... alarm is fired at alarm2's time.... alarm's time is overridden and alarm's 2 content is overridden....

[2020-08-28 14:22] PhuocHoangMinhNguyen commented on #72
Sorry, I reply a bit late. I want to go to a specific screen of the application when clicking on the alarm notification. I do not see that option in the example folder.

[2020-08-28 14:23] PhuocHoangMinhNguyen opened #80 "Navigate to a specific screen when clicking on the notification"
Is there any way to navigate to a specific screen of the application when clicking on the alarm notification?
I do not see that option in the example folder.

[2020-08-29 09:48] Udith-Murali-K commented on #73
Any updates regarding this , need to trigger the notification when the app is even in foreground

[2020-08-29 11:43] emekalites commented on #63
Thanks for the feedback, I'll look into it again

[2020-08-29 11:44] emekalites commented on #74
Please try again with the latest version, Thanks

[2020-08-29 11:46] emekalites commented on #73
Thanks for the feedback, the iOS is still very much under production. It will be fixed in the full release, hopefully the next version.

[2020-09-01 03:36] wanderlust252 commented on #80
try OnNotificationOpened in DOCS

[2020-09-04 08:07] sure61 opened #81 "Alarms not Working in ios"
Hi your package working good in android but in ios it giving some problems setAlarm and send notification not working in ios

[2020-09-08 17:58] swlaunch commented on #81
There are still many missing parts for iOS like event listeners for Opening and Dismissing alarms.
@emekalites do you have any plan on enhancing iOS part of the module?

[2020-09-10 14:12] Zeroxys opened #82 "keeps ringing when App is close"
Hello @emekalites  thanks for this amazing package you save my life :)
I encounter a issue when the app is closed :

When the app is running in the background (minimized) and I swipe the message it stops ringing.

When The app is completely closed however, I receive the alarm, the phone starts ringing but it continues ringing after I swip the message away. Only solution is to open the app and clos

[2020-09-12 14:20] hardikjain29 opened #83 "Alarm-notification sound not looping in iOS"
First of all, thank you so much for this package!

I have an issue on iOS, even when I pass `loop_sound: true` the notification sound doesn't keep ringing.

Do I have to pass anything else to it?

[2020-09-15 11:53] emekalites commented on #82
Hi @Zeroxys
I would like to know if you updated your `AndroidManifest.xml`. The plugin is designed to stop alarm from ringing after dismissing the notification.

[2020-09-15 11:53] emekalites commented on #83
Hi, @hardikjain29  the iOS is till under development.

[2020-09-15 11:54] emekalites commented on #81
@swlaunch, I am almost done with with the iOS updates.

[2020-09-15 15:44] hardikjain29 commented on #83
Ohh okay! Waiting eagerly for it. Wish I could help here! 😕

Thanks a lot!

[2020-09-15 18:37] emekalites commented on #83
I have updated the plugin to v1.7.0.
I struggled a lot with the sound for iOS. firstly iOS doesn't allow you to control the  notification sound so adding making it loop is difficult. secondly, I realized i cant use a custom sound longer than 30seconds because the sound ends as soon the notification banner slides out.
If there was a way to create a custom push notification banner that stays at the

[2020-09-15 18:39] emekalites commented on #13
Alarm works on iOS on the current version.

[2020-09-16 11:19] HERYORDEJY opened #84 "setAlarm Error.."
I am using the example code, whenever I try to set the alarm, I get an error message, ... **[TypeError: null is not an object (evaluating 'RNAlarmNotification.scheduleAlarm')]**

![Screenshot (4)](https://user-images.githubusercontent.com/37557949/93330311-84405900-f816-11ea-95ba-f934edaacb09.png)

[2020-09-16 14:48] hardikjain29 commented on #83
Ohh, that's a bummer! Very sad that Apple doesn't allow this.

I had a thought as you said if the notification banner can stay longer, the sound could last longer, for that what I did was go to the app settings > Notification > Banner > Persistent. This will not make the banner(notification) go away until the user slides it up. But that didn't make it sound longer. (`loop_sound: true`)

I tried do

[2020-09-17 14:40] namansukhwani commented on #73
Man Can you please send the code for this lib working in background

[2020-09-18 05:22] Vishal7591 commented on #13
@emekalites, NSInvalidArgumentException error 0 while execution of the function scheduleAlarm() in iOS

[2020-09-21 04:17] MrTuyennn commented on #54
it's not working

[2020-09-21 04:25] MrTuyennn commented on #54
title: 'my title',
      message: 'my message,
      schedule_type: 'repeat',
      repeat_interval: 'daily,
      auto_cancel: true,
      has_button: true,
=> has_button is not working
- help me ^^. tks <3

[2020-09-21 05:14] MrTuyennn opened #86 "how to custom or change tittle has_button . Help me"

[2020-09-21 09:56] emekalites commented on #86
This feature doesnt really exist. Might be something i can add though.

[2020-09-21 10:05] emekalites commented on #84
I think i have an idea as to where the problem is coming from, I'll push an update soon @HERYORDEJY

[2020-09-22 00:59] MrTuyennn commented on #86
oh tks bro, and i want to ask : event onPress has_button

[2020-09-28 09:23] ayubmm opened #87 "I got an error when I install the appDebug React-Native. The error was : cannot find symbol in AlarmDismissReceiver.java"
Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.2/userguide/command_line_interface.html#sec:command_line_warnings
21 actionable tasks: 21 executed
/home/ayub/Documents/Project React Native/todoList/node_modules/react-native-alarm-notification/android/src/m

[2020-09-28 09:32] ayubmm commented on #87
I tried to add AlarmUtil alarmUtil = new AlarmUtil((Application) context.getApplicationContext()); and change the code from :

`try {
            AlarmUtil alarmUtil = new AlarmUtil((Application) context.getApplicationContext());

            if (ANModule.getReactAppContext() != null) {
                int notificationId = intent.getExtras().getInt(Constants.DISMISSED_NOTIFICATION_ID);

[2020-09-29 07:00] serinuntius commented on #87
I have the same problem.

[2020-09-30 04:03] mezalejandro opened #88 "Android error"
Hi how are you doing?
Using sentry I got an alert:
![Screen Shot 2020-09-30 at 01 01 08](https://user-images.githubusercontent.com/568141/94641751-7a0f6780-02b8-11eb-81cd-213f6f037687.png)

![Screen Shot 2020-09-30 at 01 02 02](https://user-images.githubusercontent.com/568141/94641800-9a3f2680-02b8-11eb-99a6-ac3c715f5c1d.png)

Thanks

[2020-09-30 12:55] mohammadsolgi commented on #87
I have the same problem. anyone can help us?

[2020-09-30 13:43] ayubmm commented on #87
Try to change it like I did in this comment :

[2020-10-01 23:24] vincevannoort commented on #87
Feel free to make the changes made in this commit and open a pull request:

https://github.com/vincevannoort/react-native-alarm-notification/tree/a963aec83b7d875df8eff34481690af6c15e3c18

Upon accidant i made more commits to my personal project, however, the above fixes the issue.

[2020-10-02 17:48] maretana commented on #87
I submitted a PR to fix the compilation problem https://github.com/emekalites/react-native-alarm-notification/pull/90

[2020-10-03 08:08] PhuocHoangMinhNguyen opened #91 "Navigate to a screen using device event emitter"
Issue:
I am trying to navigate to another screen after triggering DeviceEventEmitter.addListener('OnNotificationOpened') but it doesn't work.

Version:
React-Native Version: 0.63.3
React-Native-Alarm-Notification: 1.4.6

Code:
DeviceEventEmitter.addListener('OnNotificationOpened', async function (e) {
            const obj = JSON.parse(e);
            this.props.navigation.navigate('Screen Two', o

[2020-10-05 08:26] emekalites commented on #87
v1.7.1 takes care of this, thanks guys.

[2020-10-05 08:26] #87 closed

[2020-10-05 08:28] emekalites commented on #88
wow did not anticipate this. I'll see if there is some solution to this.

[2020-10-05 08:31] emekalites commented on #91
please try this with the new v1.7.1

[2020-10-05 08:32] emekalites commented on #13
I think it's safe to close this since iOS has been added in v1.7.0.
Thank you all for making this possible.

[2020-10-05 08:32] #13 closed

[2020-10-05 08:34] emekalites commented on #73
I think this works well in the current version. Please check v1.7.1 and provide feedback. Thanks

[2020-10-05 08:35] emekalites commented on #81
Please check the current for the most updated iOS functionalities.

[2020-10-05 16:47] ElChawich opened #92 "NSInvalidArgumentException error 0 while execution of the function scheduleAlarm() in iOS"
it was working on iOS and android on a previous version, after i updated to the new version its giving the mentioned error in iOS.

using RN 0.59.9

[2020-10-09 09:16] sure61 commented on #81
Hi @emekalites  i tried your latest updates to ios. SetAlarm method  is not working when i invoked it gives "failed to create alarm error".

[2020-10-12 11:18] emekalites commented on #81
@sure61 it'd have been better if you created a new issue on this. Meanwhile, can you retrieve more information regarding the failed function?

[2020-10-13 14:29] beinghussain commented on #73
Does not work when the app is killed.

React native code:

`const message = `Time ${endTime ? `for ${replace(name, ' End', '')}` : `left for ${replace(name, ' Start')}`} ${endTime ? 'ends in' : ''}`
        const title = `${name} Namaz`
        const alarmNotifData = {
          title,
          message,
          channel: 'my_channel_id',
          auto_cancel: true,
          schedule_type: 'onc

[2020-10-14 11:16] laurent22 commented on #63
Isn't it a race condition in here https://github.com/emekalites/react-native-alarm-notification/blob/65c1af8ae0d3b830c5c85bc50b328a54eae0b764/android/src/main/java/com/emekalites/react/alarm/notification/ANModule.java ? Maybe if you configure multiple alarms simultaneously, as in the examples above, the code gets confused somewhere and overwrite the alarm from one call with the alarm from another.

[2020-10-16 10:20] mahpgnaohhnim opened #93 "Disable Sound and Vibration not working"
Version: 1.7.1

as i can see in your index js the data for alarm is following
[code]

if we want to disable vibration or sound so `details.vibrate` and `details.play_sound` will be false
but in the const data above vibrate and play_sound **will always be true**.

maybe you need this:

`play_sound: (details.play_sound === false) ? false : true`
`vibrate: (details.vibrate === false) ? false : true`

[2020-10-18 03:48] headit74 commented on #92
When I try to add an alarm on ios, it shows this error.
`The operation couldn’t be completed. (NSInvalidArgumentException error 0.)`

[2020-10-19 14:48] diegoserranor commented on #63
I am experiencing a similar issue on Android. My app is a timer that schedules up to 7 alarms at the same time. However, in my case, none of the alarms get fired. These are all meant to occur at different times in the future.

Scheduling a single alarm at a time works, but I require scheduling multiple ones because of how the timer is supposed to work.

This is a snippet of the JS I schedule alarm

[2020-10-19 17:03] laurent22 commented on #63
@diegoserranor, does it work if you leave a small delay between each scheduling? Because if it does it could confirm there's some race condition when multiple alarms are created at the same time.

With something like this:

[code]

[2020-10-19 20:00] diegoserranor commented on #63
The delay helped!
It seems that `alarmId` was set to the same value for all scheduled alarms.
Here is also part of a log from Android Studio which confirms it:

![Screen Shot 2020-10-19 at 12 29 48 PM](https://user-images.githubusercontent.com/12316761/96503425-d5c67400-1218-11eb-846a-68c4f62e1f3f.png)

Had to use a 1000ms delay to make sure the values were all different.
This might be because the

[2020-10-19 20:12] diegoserranor commented on #63
Also, regarding the alarm delivery at different times that @PhuocHoangMinhNguyen was facing: This might have to do with `setAndAllowWhileIdle`.

In my case, the notifications did come in order, but I ran into this bit of documentation:

Might be one of those hurdles with Android battery management. It probably happens very rarely when not in idle. However having battery saver enabled, being on idl

[2020-10-19 22:19] laurent22 commented on #63
That makes sense, it seems the alarm ID is the Unix timestamp **in seconds** so if many alarms are created within a second they'll all get the same ID, and indeed using a 1 second delay would fix the issue.

I'm not familiar with that part of Android. Is the ID set by the operating system? In which case, I guess a simple `sleep(1)` somewhere in the Java code would be enough. Or if it's possible to

[2020-10-21 20:51] headit74 commented on #13
Hey, @emekalites
It has still the same exception, ```The operation couldn't be completed. (NSInvalidArgumentException error 0.)```

[2020-10-22 16:33] diegoserranor commented on #63
That would do the trick.
It would be good to check if `alarmId` has another purpose somewhere for which it is important it matches the creation time of the alarm.

Also, not too familiar with how the operating system handles it either. That is the gist that I got from looking at the code below.

AlarmUtil.java, line 141
[code]

[2020-10-26 17:26] CapiPato commented on #92
im also getting this error on iOS

[2020-10-26 20:44] ElChawich commented on #92
@CapiPato did u try adding "loop_data:true" to the alarm data?

[2020-10-26 20:45] headit74 commented on #92
Yes, didn't help

[2020-10-26 21:00] CapiPato commented on #92
Yes, and got the same result

[2020-10-28 17:28] #76 closed

[2020-10-31 17:40] tejase opened #94 "Alarm scheduled. But not ringing in given date and time (android)"

[2020-11-02 08:04] rendomnet opened #95 "[ios] sendNotification not working RN 0.63.3"
ios simulator

basic example with

[code]

not working.

I have checked the permissions and they are
`{sound: true, alert: true, lockScreen: true, badge: true, notificationCenter: true}`

I did not edit any native files as I understand RN 0.60> we dont need to edit any native ios or android files, everyhing should be linked automaticaly?

[2020-11-09 19:00] ElChawich opened #96 "[ios] Alarm not being added when in loop, and "tag" not being added to alarm details"
I'm working on RN 0.59.5, basically I'm adding 10 alarms using a for loop, and its working perfectly on android. But on iOS, even though its giving success for the 10 alarms, its only adding the last alarm in the loop...

and another issue on iOS is not giving details for the alarm as much as on android when getScheduledAlarms() function is called, even though I'm giving a tag for the alarm, its n

[2020-11-11 15:01] #74 closed

[2020-11-12 05:12] Ambady42KTech commented on #94
Have you done all the changes as per the documentation.

[2020-11-14 04:22] #80 closed

[2020-11-14 22:34] laurent22 commented on #82
@Zeroxys, did you find a fix for this? Several users of my apps have also reported this issue (for example [here](https://github.com/laurent22/joplin/issues/4086)). My `AndroidManifest.xml` is the same as in the doc. Any idea what could be the issue?

[2020-11-16 04:20] ambadyajay opened #97 "How to get snooze event from notification and how to snooze a notificaation from app."
Hai,
Is there any option to get snooze event from notification bar like dismiss event and how to how to snooze notification from the app.

[2020-11-16 18:03] laurent22 commented on #82
@emekalites, I can replicate this bug consistently on emulator too using this steps:

- Setup a new alarm
- Completely close the application
- The alarm rings
- Press on the notification
- The app opens, but the alarms keep ringing and no way to stop it
- Close the app completely again
- The alarm finally stops

My AndroidManifest.xml is exactly as described in the installation section. Do you kno

[2020-11-19 08:03] TopeMateo opened #98 "Set repeat_interval to 'weekdays' and 'weekends'."
Hi!
This library is great, I've implemented it on one of our projects, and I was hoping to know if we can set repeat_interval value 'weekdays' so that it will only display on Monday to Friday, same with 'weekends' value.

[2020-11-22 15:55] #94 closed

[2020-11-29 19:10] #83 closed

[2020-12-04 15:49] #84 closed

[2020-12-05 02:37] #86 closed

[2020-12-06 20:28] hazelf42 commented on #13
Just want to pop in and say I'm getting the error as well.

[2020-12-09 11:18] rmn183 opened #100 "Notification not working in android release mode"
In release mode notifications are not coming.

[2020-12-18 11:37] #88 closed

[2020-12-18 11:37] #91 closed

[2020-12-20 07:14] Sriharshak95 opened #101 "Unable to read sound from SD card?"
Is there any way how I can read .mp3 files from SD card instead of res/raw.

[2020-12-21 04:44] rmn183 commented on #96
Yes @ElChawich right, when we add multiple sound_names in react-native iOS only and set the alarm time for any time. It only throws the default tone but not the added sound_names, not even the loop is in working mode, but for single sound_name it is going well. I went through the package library of react-native-alarm-notifications and found that there is no such option of sound_names in AppDelegat

[2020-12-21 17:50] laurent22 commented on #63
Still happens, and still a critical issue. @emekalites, I'm curious if you're still planning to maintain this project? I've moved to it because I preferred its simplicity to Firebase, but if critical bugs are going to be auto-closed, I guess I'll need to move back to Firebase. In any case, it would be good to know what are the plans for this project.

[2020-12-21 18:03] emekalites commented on #63
I'd really love to continue supporting the library but I am stuck with how much time i can spare because of the number of projects i am working on currently. I can should create some time in a few weeks to look into the issues, but in the meantime, anyone is free to create PRs and I'll merge them.

[2020-12-22 02:25] TopeMateo commented on #13
Hi, this error happened to me when I'm scheduling a repeating alarm with no "loop_sound" props on the alarm data.

[2020-12-23 04:00] nguyenxuankiet262 opened #102 "Cannot dismiss alarm when app killed"
When app was killed then I pressed dismiss button, the sound stopped but alarm didn't disappear and i couldn't trigger alarm anymore

[2020-12-23 09:43] nguyenxuankiet262 commented on #82
I have same issue. I think the issue was caused when you press on the notification but don't press dismiss button

[2020-12-23 23:21] #93 closed

[2020-12-25 04:57] nguyenxuankiet262 opened #103 "OnNotificationOpened not work in APP KILLED"
It works on foreground and background but not work in app killed

[2020-12-25 13:56] #81 closed

[2020-12-26 16:01] #73 closed

[2021-01-08 04:48] varunsdcet commented on #102
@nguyenxuankiet262 have you find any solution?

[2021-01-08 08:58] varunsdcet commented on #103
@nguyenxuankiet262  have you get workaround for this

[2021-01-14 07:43] abhi-amci commented on #92
I am also facing the same issue

[2021-01-15 10:25] #95 closed

[2021-01-16 10:51] nk-gears opened #104 "Feature : Support for Playing Audio using a Url Stream"
Currently the Library supports playing audio using the static assets. Would like to have a feature to play from custom source or http url.

[2021-01-25 08:55] Deep1210 opened #105 "How to set Weekdays repeat alarm by using repeat_interval"

[2021-01-29 06:52] #97 closed

[2021-02-01 12:29] #98 closed

[2021-02-03 23:59] zaarheed opened #106 "How to manually set the alarmId?"
When using `scheduleAlarm()` is it possible to provide an `alarmId`? I am setting multiple alarms using a for-loop and they are all getting the same `alarmId` which prevents the notifications from ever firing.

Looking at the `scheduleAlarm()` method [here](https://github.com/emekalites/react-native-alarm-notification/blob/master/android/src/main/java/com/emekalites/react/alarm/notification/ANModu

[2021-02-14 16:11] Raserad commented on #28
Have you released it for ios? Is it possible?

[2021-02-14 20:59] Raja0sama commented on #28
I will be working on it soon, I am sure i will find a way.

[2021-02-15 00:57] hazelf42 commented on #92
This did fix my issue as well, though I actually do have a need to loop the sound for an alarm, which loop_sound doesn't seem to do.

[2021-02-15 00:59] hazelf42 commented on #83
Just hollering to say I'd love a way to loop the sound, I'd contribute if I knew how to do it in iOS :)

[2021-02-18 11:11] nguyenxuankiet262 opened #107 "Disable vibrate not work if enable sound"
Alarm still vibrates if sound is enabled. This is my alarm
const alarm = {
  title: 'Alarm',
  message: 'Tap to open app',
  vibrate: true,
  play_sound: false,
  schedule_type: 'once',
  channel: 'wakeup',
  data: {content: 'my notification id is 22'},
  loop_sound: true,
  has_button: false,
  small_icon: 'logo',
};

[2021-02-20 10:23] laurent22 commented on #63
still happens

[2021-02-20 11:44] philipusmartin9 opened #108 "daily repeated alarm works intermittently"
Hello @emekalites ,

First of all, great plugin.
We used this plugin in a project to set recurring reminders.
When we used this for creating the alarm with daily intervals, the alarm works on day 1.
On day 2, it works on some devices but doesnt trigger at all on the others.

Is it related with the Android Documentation about API 19 & AlarmManager?
![image](https://user-images.githubusercontent.com

[2021-02-21 13:29] laurent22 commented on #82
still a major issue

[2021-02-21 15:35] #100 closed

[2021-02-24 07:14] vishva-shukla commented on #103
Have you found any solution?

[2021-02-24 14:07] vishva-shukla commented on #82
I'm facing the same issue any solution?

[2021-02-27 07:20] degemenc commented on #92
Even though the documentation says loop_sound is false by default, it was not coded in. Please check out my PR, it should solve this.

[2021-02-28 07:32] lashansamwork commented on #106
facing the same issue, did you find a solution @zaarheed ?

[2021-02-28 10:20] zaarheed commented on #106
@lashansamwork i found where to apply the fix for Android, but was on a tight deadline and didn’t have the time to find the equivalent for iOS, test and create a PR. I also haven’t ever done any Java/Kotlin/Swift dev before

If I get time later I might circle back and see if I can put a fix in

[2021-03-03 14:00] vishva-shukla commented on #63
I'm facing the same issue

[2021-03-04 16:55] #101 closed

[2021-03-05 13:02] #96 closed

[2021-03-16 12:24] FurkanOzcelik opened #111 "futureRepeatAlarm in example cant be dismissed"
hi, i ve used your example code and only added alarm sounds from my raw folder, set alarm's dismiss button worked fine but when i wanted to add buttons to repeating alarms, dismiss didnt work and didnt stop sound, so without knowing much i tried to change some source codes and i changed AlarmDismissReceiver.java and AlarmReceiver.java in node_modules/react-native-alarm-notification/.../notificatio

[2021-03-18 12:39] FurkanOzcelik commented on #106
hi how did you fix it for android, i have tried to add id prop to details in module's index.js and then took it with bundle in ANModule, i tried to set 2 alarms with id: 1 and id: 2 as int, but now alarms are inconsistent they were supposed to repeat with 2 minutes interval and there are 1 minute between them but mostly they ring at same time, before that i had delays of seconds maybe but never al

[2021-03-22 04:45] Tushaarv commented on #80
can you suggest how to achieve this and get reference to navigation?

[2021-03-23 12:31] rajaroni opened #113 "Error: duplicate alarm set at date"
Hi. I'm trying to set two alarms in the same day. But it is giving me this error . How to add multiple alarms for the same day?

[2021-03-25 20:39] #102 closed

[2021-03-31 22:42] #104 closed

[2021-04-04 18:30] mukosoft commented on #107
Same problem here. If loop_sound is false, than it works.

[2021-04-10 05:19] #105 closed

[2021-04-10 21:12] seba-wetzel commented on #84
HI, this error [TypeError: null is not an object (evaluating 'RNAlarmNotification.scheduleAlarm')] happen when you don't rebuild the app after install the lib.
Has to run npx react-native run-andoid and it will be fixed.

[2021-04-18 11:12] Muhammad-Wasi commented on #113
Hey @rajaroni , you can add two alarm in same days but not in same time, you can add many alarm in a same day but needs to set different time, atleast 1 minute difference between two alarm in same day.
Thank you

[2021-04-21 18:30] Mushi42 opened #117 "Multiple Alarms"
Hi @emekalites, first Thanks for this package , i got the best one till yet,
I am trying to set multiple alarms but all of the alarms got dismissed on time without any notification. but the last alarm work fine and popping notification.
Not understanding the reason.
anyone please help?

[2021-04-23 02:57] ODINA101 commented on #103
same

[2021-04-24 20:10] easiestripes commented on #82
any updates on this? because this is still a big problem for users

[2021-04-25 17:54] #117 closed

[2021-04-25 19:39] eggn commented on #103
do you have any workaround for this @nguyenxuankiet262 ?

[2021-04-30 19:36] Mushi42 commented on #117
For Android i got a workaround by changing the logic for alarmId. The issue was with the alarmId in Android/app/sec/main/AlarmUtil.java file you can configure with your own logic to make it unique on every single try.👍
It worked for me Thanks

[2021-05-03 13:00] roman-r-m commented on #82
The problem is here:
https://github.com/emekalites/react-native-alarm-notification/blob/a1d30361db60a82b97279a583540f4f08cf4948a/android/src/main/java/com/emekalites/react/alarm/notification/AlarmDismissReceiver.java#L15

If the app is not running there's no react context so the alarm is not cancelled because there's no `else` for this `if`

@emekalites are you accepting pull requests? I can fix t

[2021-05-03 23:01] laurent22 commented on #63
Hola! So here's the deal, between open source and my day job and life and what not, I have a lot to manage, so I use a GitHub bot to automate a few things here and there. This particular GitHub bot is going to mark this as stale because it has not had recent activity for a while. It will be closed if no further activity occurs in a few days. Do not take this personally--seriously--this is a comple

[2021-05-06 07:47] vishva-shukla opened #119 "How to add onNotificationReceive event?"
Is there any way I can get an event where weather notification is clicked or not it will listen to notification like onNotificationReceive or something like that?
I want to open my app when the alarm trigger.
Please help
Thank you in advance

[2021-05-07 00:39] #108 closed

[2021-05-13 11:48] #92 closed

[2021-05-20 22:01] MohammedMaaz commented on #82
Hi @roman-r-m
Were you able to fix this issue by modifying the above code accordingly?

[2021-05-21 11:18] roman-r-m commented on #82
Well, I ended up rewriting a significant part of Android code because there were several bugs in there, not just this one.
I'm not going to bother submitting a PR as this repo seems abandoned and my PR will be closed by the bot.

The code is here: https://github.com/roman-r-m/joplin-rn-alarm-notification

Note that I have only looked at functions that are needed to the app I'm working on (Joplin),

[2021-05-21 11:21] MohammedMaaz commented on #82
Thanks for this @roman-r-m

[2021-05-21 11:36] roman-r-m commented on #82
Just to be clear - I am not going to support this package for general usage, so if you decide to use it, be aware of this.

[2021-05-21 11:45] MohammedMaaz commented on #82
No problem. Thanks for informing though.

[2021-06-02 14:32] #106 closed

[2021-06-02 14:32] #111 closed

[2021-06-07 09:17] swasti965 opened #127 "Dismiss Alarm button not working if app is killed"
If app is killed from background, then the **Dismiss** alarm button is not working.
It is working if app is running or is in background.

[2021-06-07 09:18] swasti965 commented on #102
Did you find any solution?

[2021-06-18 01:00] #107 closed

[2021-07-01 06:10] vishva-shukla commented on #117
Hi @Mushi42, What changes you have made? I'm also facing the same problem

[2021-07-01 18:02] #113 closed

[2021-07-02 07:22] Mushi42 commented on #117
Hi @vishva-shukla , in alarmUtil.java (also complete file path mentioned above) there we have logic to generate unique id for every individual alarm but somehow the built in logic was not working for me . So i take current time in unix and make it the id for alarm. Which will be unique for every ms. That's how it's working for me.

Thanks

[2021-07-02 07:52] iamabdulhaseeb commented on #26
Did any of you solve this?

[2021-07-02 09:30] iamabdulhaseeb opened #129 "react-native-alarm-notification doesnt work in background mode."
React native alarm notification works fine but not in background mode :(

[2021-07-02 10:33] iamabdulhaseeb commented on #129
If anyone stucked here.
I solved it by adding these lines in android manifest

<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

and then add these lines inside <activity>

[2021-07-05 09:56] dhavalpkakadiya opened #130 "react-native-alarm-notification doesn't work in android when app is kill"

[2021-07-13 09:14] gabrielmoncea commented on #103
This issue shouldn't be closed because it's still a problem

[2021-07-13 09:30] gabimoncha opened #131 "[iOS]: Notifications cannot open app"
When I tap on a notification that was set before killing the app, the notification tries to open the app and then it crashes.

[2021-07-15 14:15] wonseok5 opened #132 "[IOS]: loop_sound is not working"
first of all thank you for making useful package!!
but i have problem...
even though i set 'loop_sound: true'
the alarm sound only fired once and caceled(with notification fade away)
loop_sound function doesn't support IOS???

[2021-07-17 14:28] #63 closed

[2021-07-17 20:08] DartVadius commented on #82
Same issue

[2021-07-19 17:03] #119 closed

[2021-07-20 18:30] Shikhar15606 commented on #129
@iamabdulhaseeb Do you know any workaround to keep the alarm ringing if the user closes (kills) the app manually

[2021-07-20 18:34] Shikhar15606 commented on #103
@emekalites can you please suggest some workaround for this

[2021-07-20 18:35] Shikhar15606 commented on #127
@swasti965 have you got any solutions for this problem ??

[2021-08-06 10:33] quangthienit1994 opened #135 "How to auto turn off after 60s ?"
I don't any variable to do that.

[2021-08-11 20:30] douglasjunior opened #137 "How to create multiple alarms without ID conflicts?"
We are trying to create many alarms sequentially, but the iOS code was using the same ID for all alarms.

https://github.com/emekalites/react-native-alarm-notification/blob/8ffe54e3f171d8261ede5951697b50585e3c1d68/ios/RnAlarmNotification.m#L500

/cc @brunosmarppy

[2021-08-15 04:48] jjhbk commented on #129
Just To add You can solve this by changing your battery optimization settings on Android.
Settings>--batteryoptimisation >AllApps>{YOUR ALARM APP}>don't optimise

[2021-09-01 05:32] RehanAhmed-dotcom opened #142 "Alarm still not working on ios"

[2021-09-05 10:09] RehanAhmed-dotcom commented on #142
i receive notification on set alarm time. But no Alarm run with it.

[2021-09-05 10:20] RehanAhmed-dotcom commented on #129
Hi. Can you guys help me. My Android Alarm is running ok. But on IOS it just pop up notification but No alarm.

[2021-09-05 10:22] RehanAhmed-dotcom commented on #132
But i don't even receive Alarm. Only receive notifcation. :(

[2021-09-07 05:38] kaistseo opened #145 "Alarm does not ring precisely at the scheduled time in Android"

[2021-09-07 05:52] kaistseo opened #147 "Alarm custom data is not returned from getScheduledAlarms()"
In iOS, `data` that you set in `ReactNativeAN.scheduleAlarm()` is not returned when `getScheduledAlarms()` is called.

[2021-09-13 07:53] gabrielmoncea commented on #131
Not stale

[2021-09-16 04:16] divyang-codealchemy opened #150 "How do i set alarm at Particular Day of the Week (for example only alarm for Monday and Tuesday etc.) ? And How Do i set Alarm Every Day?"

[2021-09-19 00:46] #130 closed

[2021-09-19 09:40] laurent22 commented on #82
Still there

[2021-10-04 05:12] #103 closed

[2021-10-04 05:12] #127 closed

[2021-10-09 01:06] vikrampant commented on #132
Same issue with iOS, got mp3 playing but once notification banner fades away the sound stops

[2021-10-17 23:14] ihsan2 opened #153 "OnNotificationOpened not working in quit state / app killed"
I click the notification when app killed or quit state but Event OnNotificationOpened not working. In foregorund & background is fine. Thank you

[2021-10-18 05:59] pankajdreamsoft opened #154 "How can we add one more button in notification?"
I want to add "take" button in notification popup because by doing this i can inform the app medicine has taken.

Please let me know how could i achieve this feature in this SDK.

[2021-10-21 08:28] #135 closed

[2021-10-23 09:28] galkn opened #155 "Not an alarm, just a notification"
Unless I'm missing something, if the phone is in silent mode, the notification doesn't play a sound, unlike alarm clock apps.

[2021-10-27 18:30] #137 closed, assigned to nobody

[2021-11-03 11:13] sadia-onyxtec opened #156 "Snooze"
How do you implement snooze? I have done the following. It does not work.
const alarmNotifData = {
    id: "1245",                                  // Required
    title: "My Notification Title",               // Required
    message: "My Notification Message",           // Required
    channel: "my_channel_id",                     // Required. Same id as specified in MainApplication's onCreate me

[2021-11-05 07:20] sadia-onyxtec commented on #2
Any solution?

[2021-11-10 12:53] ShivamJoker opened #157 "Feat: Allow API to delete all the alarms"
Hey thanks for the great library,
It would be helpful to have a method to delete all the alarms at once

[2021-11-12 05:23] ApWin commented on #150
@divyang-codealchemy did you find any solutions for this ?

[2021-11-14 12:43] gabrielmoncea commented on #131
No worries. I've moved to react-native-push-notifications

[2021-11-22 07:14] #142 closed

[2021-11-22 07:14] #145 closed

[2021-11-22 07:14] #147 closed

[2021-11-24 18:27] jaimebiernaski opened #159 "Not working on last version of React Native"
Hi,

I'm unable to get it working on a brand new RN project

1. Create a empty project with `npx react-native init alert`
2. Follow the [these](https://github.com/emekalites/react-native-alarm-notification) steps, including the changes on the native code.
3. Copy the exact [same code](https://github.com/emekalites/react-native-alarm-notification/blob/main/example/App.js) from the `/example/App.js`

[2021-11-26 13:13] vishwaSSS opened #160 "Has_button is not working"

[2021-12-02 13:26] #82 closed

[2021-12-04 12:19] k2an commented on #159
+1 same on last version of RN

[2021-12-23 05:40] #129 closed

[2022-01-02 14:28] #153 closed

[2022-01-02 14:28] #154 closed

[2022-01-06 06:51] #155 closed

[2022-01-14 13:03] komailabbas12 opened #161 "Alarm are not working when we close the app"
Android minifiest file

`<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.reminderapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETE

[2022-01-17 05:44] komailabbas12 commented on #44
I have the latest version but still not working when we close in app in android 11. I even download your example but still the same issue

[2022-01-17 07:16] tmbax0098 commented on #159
The lib didn't work as expected.
The notification is not fired,
the **sound played** and
the **banner does not appear**.

[2022-01-17 07:30] komailabbas12 opened #162 "alarm are not working when we close the app"
Alarm are not working when we close the app. even you example are not working. kindly solve this issue

[2022-01-17 08:25] komailabbas12 commented on #7
not working

[2022-01-17 10:46] komailabbas12 commented on #153
Did you solve this?? i am facing the same issue

[2022-01-17 11:50] komailabbas12 commented on #129
when i copy paste your code its even stop working when app is open. Can you kindly send me the version you are using

[2022-02-19 17:00] salman521 commented on #153
Still facing this issue.

[2022-03-04 16:54] yoursinger commented on #159
I'm having another problem. The upgraded rn prompts this:
`A problem occurred configuring project ':react-native-alarm-notification'.

`

[2022-03-31 12:00] jd1378 opened #168 "Typescript support"
I checked the issues and it seemed that [at some point](https://github.com/emekalites/react-native-alarm-notification/commit/b16835b5ac0d358266c541a52b955be9f1faa522) this project had typings, but right now it doesnt have.
can this be added again ?

[2022-05-28 13:58] yoursinger commented on #82
thank u,your code is work for me!

[2022-05-28 13:58] yoursinger commented on #82
thank u,yours is work for me!

[2022-06-25 12:11] Tonisg91 commented on #159
Hello! I'm having the same problem. Did you finally solve it?

[2022-07-12 01:53] aljimsondev opened #175 "Plugin with id 'maven' not found"
It throw as error when building the app ```
error Failed to install the app. Make sure you have the Android development environment set up: https://reactnative.dev/docs/environment-setup. Error: Command failed: gradlew.bat app:installDebug -PreactNativeDevServerPort=8081 FAILURE: Build completed with 2 failures. 1: Task failed with an exception. ----------- * Where: Build file 'D:\TypeScript Proje

[2022-07-18 07:09] ShivangiRathod opened #176 "Notification Navigation Problem"
If we click on the notification when is closed, app doesn't navigate on the particular screen. It will open from the starting screen like splash screen.

[2022-07-20 07:47] GlennOngJunJie opened #177 "EXPO"
Hi does this work on expo

[2022-07-20 08:05] GlennOngJunJie opened #178 "TypeError: null is not an object (evaluating 'RNAlarmNotification.sendNotification')"
![image](https://user-images.githubusercontent.com/96314119/179930361-27dd7e72-a21e-41bd-bdc8-009da51bdfcb.png)
![image](https://user-images.githubusercontent.com/96314119/179930517-7695b7ad-4567-4165-a782-0c1462895f69.png)

not sure why this is happening

[2022-08-01 09:14] wcosmas commented on #175
i'm having a similar issue using gradle 7x

[2022-08-21 00:56] CoderSudaWuda commented on #9
TypeError: null is not an object (evaluating 'RNAlarmNotification.scheduleAlarm')

I get this error too.

[2022-08-23 07:46] tbd-farhad commented on #175
I'm having a similar issue

[2022-09-11 21:26] Amitb01FUB commented on #175
same issue, did you find a fix?

[2022-09-12 22:00] Amitb01FUB opened #180 "Alarms won't fire [react-native 0.68] [jdk 11] [gradle 7]"
First of all, the app wouldn't even build after installing this package.
I'm using gradle 7 and this package uses deprecated maven dependencies.
To fix that I did some changes to the `build.gradle` that you can see in my comment here #175 ,but that's not the issue.

My problem is that when I create new alarms they never actually fire. When I use the `scheduleAlarm` fucntion I get an id back, and t

[2022-09-15 20:40] Amitb01FUB commented on #180
Solved:
As said in the Readme's "manual installation" section, I had to add this block to my `AndroidManifest.xml`:
[code]
Unlike what the Readme said, my app didn't crash, and I didn't manually install the package so I don't know why this wasn't there already

[2022-09-15 20:40] #180 closed

[2022-09-15 20:41] Amitb01FUB opened #181 "Package wouldn't let app compile in Gradle 7x"
Found a fix for that particular problem, as said by @wcosmas maven was remove in Gradle 7.
This whole repo won't compile in Gradle 7, to fix that, you need to make some changes to the `buid.gradle` file **inside the module folder** (`node_modules\react-native-alarm-notification\android\build.gradle`)

line 23: `apply plugin: 'maven-publish'`

line 43: `apply plugin: 'maven-publish'"

line 112 repl

[2022-09-22 02:34] gaweki commented on #162
is this not worrking on real phone or simulator? @komailabbas12

[2022-10-02 19:03] M3BIONIX commented on #175
I deleted the contents after line 108 then it compiled for me but no alarm notification

[2022-10-14 21:58] eggn commented on #181
Same here.

build.gradle
...
dependencies {
        classpath("com.android.tools.build:gradle:7.2.1")
        classpath("com.facebook.react:react-native-gradle-plugin")
        classpath("de.undercouch:gradle-download-task:5.0.1")
    }

gradle-wrapper.properties

distributionBase=GRADLE_USER_HOME
distributionPath=wrapper/dists
distributionUrl=https\://services.gradle.org/distributions/gradle-7.5.

[2022-10-26 16:11] josedomingos919 commented on #2
Hello, @emekalites i have the same problem..